.root {
  display: flex;
  justify-content: center;

  li {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fe5f1e;
      font-size: 18px;
      margin-right: 15px;
      padding: 10px;
      width: 45px;
      height: 45px;
      border: 1px solid rgba($color: #fe5f1e, $alpha: 1);
      border-radius: 50%;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        background-color: #fe5f1e;
        color: white;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: white;
      }
    }
  }
}
